@import '@styles/abstracts/var';

.services {
	.top {
		display: grid;
		grid-template-columns: minmax(0, 320px) minmax(0, 1fr);
		gap: 25px;
		align-items: stretch;
	}
}

@media (max-width: $screen-tb-xl) {
	.services {
		.top {
			grid-template-columns: 1fr;
		}
	}
}
@media (max-width: $screen-tb) {
	.services {
		.top {
			gap: 15px;
		}
	}
}
